.reveal {
  background-color: skyblue;
}

.reveal section {
  text-align: left;
  font-size: 0.8em;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.2em;
}

.reveal h3 {
  font-size: 1em;
}
